# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃ .env: example                                                                                    ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

SECRET_KEY="secret-key"

DATABASE_URL="sqlite:///./instance/onboard.sqlite3"

JWT_SECRET_KEY="jwt-secret-key"

REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_URL="redis://localhost:6379/0"

CACHE_TYPE="RedisCache"
CACHE_REDIS_HOST="localhost"
CACHE_REDIS_PORT="6379"
CACHE_REDIS_URL="redis://localhost:6379/0"
CACHE_DEFAULT_TIMEOUT="300"

CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_RESULT_BACKEND="redis://localhost:6379/0"
CELERY_TIMEZONE="Asia/Kolkata"

MAIL_SERVER="smtp.gmail.com"
MAIL_PORT="587"
MAIL_USE_TLS="true"
MAIL_USE_SSL="false"
MAIL_USERNAME="your-email@gmail.com"
MAIL_PASSWORD="your-app-password"
MAIL_DEFAULT_SENDER="noreply@yourdomain.com"

GCHAT_WEBHOOK_URL="https://chat.googleapis.com/v1/spaces/.../messages"

FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:5000"